.body {
    background-color: #555558;
}

.MainPage-Container {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
    
    padding-top: 8vh;
    height: 92vh;

}


