.MainPage-Container {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 29, 29);
    /* background-image: linear-gradient(to top, #8860D0 0%, #C1C8E4 25%, #5AB9EA 50%, #84CEEB 75%, #5680E9 100%); */
    margin-top: 79px;

}


