.Fetched-Meme-Container {
    display: flex;
    flex-direction: column;
    width: 600px; 
    padding: 25px; 
    margin: 0 auto; 

}

.Individual-Meme-Container {
    background-color: #e6f2ff;
    border: 1px solid #5680E9;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.Individual-Meme-Container:hover {
   opacity: .9;
}



.Individual-Name {
    background-color: #9cbc38;
    padding: 10px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.Individual-Name a {
    color: black;
    text-decoration: none;
    
}

.Individual-Name a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Individual-Meme-Pic {
    width: inherit;
    height: 300px; 
    overflow: hidden;
}

.Individual-Likes {
    color: white; 
}

.Individual-Comment {
    width: inherit;
    padding: 15px;
    resize: none; 
    display:flex;
    flex-direction: column;
}

.Individual-Comment-Box {
    width: 100%;
    min-height: 25px;
    font-size: 14px;
    resize: none; 
    border-radius: 3px;
    border: 1px solid white;
    margin: 5px auto;
}

.Meme-Like-Icon, .Meme-Like-Icon-2 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}


#Comment-Replies {

    display: inline-block;
    color: black;
    font-weight: 700;
    font-size: 16px;
    outline: 0;
    text-align: left;
    margin: 15px;
}

#Comment-Replies:hover {
    
    color: darkgreen;
    cursor: pointer;
    border: none;
    
}

.flame {

    font-size: 14px;
    height: 38px;
    width: 128px;
    margin: 5px 0;
    text-decoration: none; 
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 8px;
    text-transform: none;
    user-select: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: #9cbc38;
    box-shadow: 0 6px 10px 0 rgba(27,28,30,.31);
    color: #fff;

}

.flame:hover {
    color: black;
    cursor: pointer;
    border: none;
}

.delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.delete-post {

    font-size: 12px;
    height: 38px;
    width: 118px;
    margin: 10px 10px;
    text-decoration: none; 
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 8px;
    text-transform: none;
    user-select: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: darkred;
    box-shadow: 0 6px 10px 0 rgba(27,28,30,.31);
    color: #fff;
}

.delete-post:hover {
    color: black;
    border: none;
 
}