.Comment-Container {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    flex-direction: column;
    border-top: 1px solid #5680E9;

}

.Comment-Individual-Container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5680E9;
}

.Comment-Name {
    font-weight: 700;
    font-size: 24px;
}

.Comment-Name a {
    color: black;
    text-decoration: none;
    font-weight:normal;
    font-size: 16px;
}

.Comment-Body{
    padding: 15px;
    color: black;
}