.Show-Font-Modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.Show-Font-Container {
    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.Show-Font-Header {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.Show-Font-Container [class*="Font-"] {
    padding: 3px 0px; 
    cursor: pointer;
}


.Style-Font-Times {
    font-family: 'Times New Roman', Times, serif;
}

[class*="Style-Font-"]:hover {
    color: #9400D3;

}

.Style-Font-Arial {
    font-family: Arial;

}

.Style-Font-Impact {
    font-family: "Impact";  

}

.Style-Font-Open {
    font-family: 'Open Sans', sans-serif; 

}

.Style-Font-Comic {
   font-family: "Comic Sans MS", cursive, sans-serif;


}

.Style-Font-Arial-Black {
    font-family: "Arial Black", Gadget, sans-serif;

}

.Style-Font-Tahoma {
    font-family: Tahoma, Geneva, sans-serif;

}

.Style-Font-Verdana {
    font-familY: Verdana, Geneva, sans-serif;

}

.Style-Font-Courier {
    font-family: "Courier New", Courier, monospace;
}

.Show-Font-Bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Font-Submit-Button {
    outline: none;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color:#5C25B5;
    border-radius: 2px;
}

.Font-Submit-Button:hover {
    background-color: #9400D3;
}

#Font-Submit-Button {  
    padding: 2px 10px;
}