.generator-page-wrap {
    display: flex;
    left: 100px;
    width: 80vw;
    height: 80vh;
    flex-direction: column;
    border: 1px solid black;
    background-color: #90EE90;
    border-radius: 0.5em;
    margin-top: 50px;
}

.generator-page-container {
    display: flex;
    flex-direction: column;
}


.memeContainer {
    display: flex;
    flex-direction: row;

}

.memeContainer-title {
    font-size: 20px;
    margin: 20px 0 20px 10px;
}


.memeGenerator {
    /* height: 500px;
    width: 500px; */
    /* top: 20vh; */
    overflow: hidden;
    flex-wrap: wrap;
}

#canvas {
    /* object-fit: contain; */

    position: absolute;
    z-index: 0;
    
}

#canvas2 {
    position: absolute;
    background-image:url('');
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    
    z-index: 0;
    
}

.select-file {
    margin: 10px;
    font-size: 18px;
}

.input {
    resize: none;
    margin: 10px 20px 1px 1px;
}

.text-input-label {
    display: inline;
    margin: 10px;
    vertical-align: super;
}

.text-size-bar {
    margin-left: 80px;
}

.upper-text {
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 200;
    font-size: 20px;
    font-family: "Impact";
    color: white;
    text-shadow: black 0px 0px 10px;
    overflow: hidden;
    cursor: pointer;
}

.lower-text {
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
    width: inherit;
    overflow: hidden;
    font-size: 20px;
    font-family: "Impact";
    color: white;
    text-shadow: black 0px 0px 10px;
    top: 200;
}

.save-upload-button {
    margin: 10px;
    outline: 0;
    border: 1px solid black;
    font-size: 18px;
    padding: 5px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 0.3em;
}



