.generator-page-wrap {
    display: flex;
    left: 100px;
    width: 900px;
    height: 600px;
    flex-direction: column;
    border: 1px solid #5680E9;
    background-color: rgba(86, 128, 233, 1);
    padding: 10px;
    border-radius: 0.5em;
}

.generator-page-container {
    display: flex;
    flex-direction: column;
}


.memeContainer {
    display: flex;
    flex-direction: row;

}

.memeContainer-title {
    font-size: 20px;
    margin: 20px 0;
}


.memeGenerator {
    height: 500px;
    width: 500px;
    top: 20vh;
    overflow: hidden;
    flex-wrap: wrap;
}

#canvas {
    /* object-fit: contain; */

    position: absolute;
    z-index: 0;
}

#canvas2 {
    position: absolute;
    background-image:url('');
    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 500px; 
    min-width: 500px;
    
    /* z-index: 0; */
    
}

.select-file {
    margin: 5px;
    font-size: 18px;
}

.input {
    resize: none;
    margin: 10px 20px 1px 1px;
}

.text-input-label {
    display: inline;
    margin: 10px;
    vertical-align: super;
}

.text-size-bar {
    margin-left: 80px;
}

.upper-text {
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 200;
    font-size: 20px;
    font-family: "Impact";
    color: white;
    text-shadow: black 0px 0px 10px;
    overflow: hidden;
    cursor: pointer;
}

.lower-text {
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
    width: inherit;
    overflow: hidden;
    font-size: 20px;
    font-family: "Impact";

    color: white;
    text-shadow: black 0px 0px 10px;
    top: 200;
}

.save-upload-button {
    /* text-align: right; */
    font-size: 18px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    border: 1px solid black;
}



