.memes {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.random-meme li {
    list-style: none;
    margin: 10px;
}

.random-meme img{
    height: 500px;
    width: 500px;
}