.memes {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.random-meme li {
    list-style: none;
    margin: 10px;
}

.random-meme img{
    height: 500px;
    width: 500px;
}

.loading {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: auto;
    width: 400px;
    
}