
.memes {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2rem;
    text-align: center;
}

.random-meme {

    width: 30%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
}


.random-meme-image > img {
    max-width: 100%;
    height: auto;
}

.random-meme .random-meme-image:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
}

.random-meme:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(12deg);
    transition: all 0.35s;
}


.random-meme:nth-of-type(4n+1) .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }

  .random-meme:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-10deg);
    transition: all 0.35s;
  }
  .random-meme:nth-of-type(4n+2) .random-meme-image:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .random-meme:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .random-meme:nth-of-type(4n+4) .random-meme-image:before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .random-meme:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-10deg);
    transition: all 0.35s;
  }
  .random-meme:nth-of-type(4n+3) .random-meme-image:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .random-meme:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .random-meme:hover .random-meme-image:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.55s;
  }

  .random-meme-container {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

      display: flex;
      flex-direction: column;
      background-color: white;
  }

  .random-meme-title {
    padding: 10px 0px;
    font-family: 'Yellowtail', cursive;
  }


.Go-Top {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    cursor: pointer;
}

.Random-Meme-Page {
    margin-top: 2vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.Random-Search {
    display: flex;
    justify-content: center;
    align-items: center;
}