.NavBar-Container {
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    padding: 1%;
    border-bottom: 1px solid grey;
    align-items: center;
    z-index: 50;
}

.NavBar-Title {
    font-weight: 700;
}

.NavBar-Sessions {
    display: flex;
    flex-direction: row;
}

.NavBar-Session-Links {
    padding: 5px;
    border: 1px solid black;
}

.NavBar-Session-Links a {
    color: black;
    text-decoration: none;
}


.NavBar-Button {
    border: none;
    cursor: pointer;
    background-color: grey;

}

.login-signup {
    text-align: right;

}

.login-signup-button {
    font-size: 16px;
    border-radius: 0.5em;
    background-color: lightgray;
    cursor: pointer;
}