.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 100;
  transform: translateX(0,100%);
  animation-name: slide;
  animation-duration: 1s;

}

.modal-child-meme {
  position: absolute;
  /* top: 70%; */
  transform: translate(50%, 50%);

}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-child-create {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  
 
}

@keyframes slide {
    from {translate: (0px, 0px)}
    to {translate: (100px, 100px)}
}

#Modal-Close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

#Modal-Close:hover{
  color: red;
}

.close {
  width: 28px;
  height: 28px;
  border-radius: 0%;
  fill: white;
  cursor: pointer;
}

.close:hover {
  /* fill: purple !important; */
  background-color: white !important;
}

.image-modal-background {
  position: fixed;
  top: 8vh;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-modal-child-meme {
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
}

.Individual-Modal-Image {
  /* height: 100%; */
  /* object-fit: contain; */
}