.Generator-Template {
    display: flex;
    width: 100vw;
    overflow-y: hidden;
    background-color: white;
    min-height: 200px;
}

.Individual-Template {
    padding: 0 20px; 
    cursor: pointer;  
    display: flex;
    justify-content: center;
    align-items: center;

  
    opacity: 0.6;
}

.Individual-Template:hover {
    opacity: 1;
}

.Template-Image {
    height: 200px;
}

.Generator-Template-Absolute {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}