.Trash-Container {

    display: flex;
    position: absolute;
    margin-top: 200px;
    opacity: 1;
    z-index: 10000;
}

.Trash-Modal {

    display: flex;
    flex-direction: column;
    position: relative;

    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.Trash-Button {
    color: red;
    cursor: pointer;
}


.Trash-Modal-Decision {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}