.Trash-Container {
    position: fixed;
  background: rgba(0, 0, 0, 0.5);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 10000;
    cursor: normal;
}

.Trash-Modal {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);

    background-color: white;
    padding: 42px;
    font-family: "Open-sans", sans-serif;
    font-size: 0.8rem;
    border-radius: 10px;
}

[class*="Trash-Button-"] {
   
    padding: 4px;
    cursor: pointer;
}

.Trash-Button-Yes:hover {
    color: red;
}

.Trash-Button-No:hover {
    color: red;
}


.Trash-Modal-Decision {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
}